<section id="footer" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="footer-widget footer-link">
					<h4>
						Sustainable, Secure, and<br />
						Smart Collaboration Workshop
					</h4>
					<p>
						{{ site.description }}
					</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-12">
				<div class="footer-widget footer-link">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/papers">Call For Papers</a></li>
						<li><a href="/committee">Committee</a></li>
						<li><a href="/dates">Important Dates</a></li>
						<li><a href="/contact">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-12">
				<div class="footer-widget footer-text">
					<h4>Contact Us</h4>
					<p class="mail">
						<span>Mail:</span> <br />
						mapellegrino@unisa.it
					</p>
					<p>
						<span>Location: </span> {{ site.address }}
					</p>
					<p>
						<!-- Facebook -->
						<a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/profile.php?id=100092635038171" role="button"
						  ><i class="fab fa-facebook-f"></i
						></a>
						<br />
						<!-- Twitter -->
						<a class="btn btn-primary" style="background-color: #55acee;" href="https://twitter.com/S3Cws" role="button" width="50px" height="50px"
						  ><i class="fab fa-twitter"></i
						></a>
						<br />
						<!-- Linkedin -->
						<a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/company/s3c-workshop" role="button"
						  ><i class="fab fa-linkedin-in"></i
						></a>
						<br />
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

